<a href="https://colab.research.google.com/github/rootofdata/Outlier_Detection/blob/main/EDA_per_2_min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Outlier Detection Paper (1)/data/구버전10000016-data-2022-04-11 10_23_42.csv')

In [ ]:
df['new_date'] = pd.to_datetime(df['time'])
df['date'] = df['new_date'].dt.to_period(freq = 'min')  #분까지 끊기

In [ ]:
df

,time,entity_id,ts2,ch2o,pm2_5,pm10,tvoc,co2,tmp,rh,cpm,db,co,stink,no2,h2s,nh3,new_date,date
0,2022-04-04 10:24:20,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-04 01:24:20,45,12,22,706,554,0,1839,9,44,42,39,1,0,0,2022-04-04 10:24:20,2022-04-04 10:24
1,2022-04-04 10:26:21,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-04 01:26:21,45,13,23,721,554,0,1842,1,42,27,39,1,0,0,2022-04-04 10:26:21,2022-04-04 10:26
2,2022-04-04 10:28:21,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-04 01:28:21,45,13,23,724,557,0,1843,1,43,34,39,1,0,0,2022-04-04 10:28:21,2022-04-04 10:28
3,2022-04-04 10:30:21,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-04 01:30:21,45,13,24,738,559,0,1845,7,45,30,39,1,0,0,2022-04-04 10:30:21,2022-04-04 10:30
4,2022-04-04 10:32:21,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-04 01:32:21,45,13,23,746,570,0,1847,12,38,27,39,1,0,0,2022-04-04 10:32:21,2022-04-04 10:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032,2022-04-11 10:14:13,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-11 01:14:13,65,4,6,2107,534,0,2103,0,38,46,40,1,0,0,2022-04-11 10:14:13,2022-04-11 10:14
5033,2022-04-11 10:16:13,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-11 01:16:13,66,4,6,2161,546,0,2107,0,43,28,40,1,0,0,2022-04-11 10:16:13,2022-04-11 10:16
5034,2022-04-11 10:18:13,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-11 01:18:13,67,4,6,2213,560,0,2109,0,38,33,40,1,0,0,2022-04-11 10:18:13,2022-04-11 10:18
5035,2022-04-11 10:20:13,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-11 01:20:13,68,4,6,2273,574,0,2107,0,45,39,40,1,0,0,2022-04-11 10:20:13,2022-04-11 10:20
5036,2022-04-11 10:22:13,08228f50-144e-11ec-80c8-b1d8e607054f,2022-04-11 01:22:13,68,4,6,2318,585,0,2107,0,41,30,40,1,0,1,2022-04-11 10:22:13,2022-04-11 10:22

데이터프레임을 보면, 짝수분이다가 시간이 밀려 홀수분이 되고,   
홀수분에서 짝수분이 될때도 시간이 밀려 짝수분이 된다.  
11:20 11:22 11:25... 12:27 12:29 12:32  
-> 해결 방안 : 홀수분일때 앞으로 땡겨 짝수분으로 만들어주고, 마지막 홀수분 이후 한 행 추가. (단순 홀수분일때 앞으로 땡기기만 하면 됨.)

In [ ]:
a =df['date'].apply(lambda x: x.strftime('%Y%m%d%H%M'))

In [ ]:
import datetime
for i in range(len(df['date'])):
  if int(a[i][-2:])%2 ==1:
    df['date'][i]=df['date'][i]+datetime.timedelta(minutes=1)

In [ ]:
new_df = pd.date_range(start = '2022-04-04 10:24',            # 날짜 범위 시작
                     end = '2022-04-11 10:22',                # 날짜 범위 끝
                     freq = '2min',                           # 시간 간격( 2분 간격)
                     tz = 'Asia/Seoul')                       # 시간대(timezone)

In [ ]:
new_df=pd.DataFrame(new_df)
new_df.columns=['date']
new_df['date'] = new_df['date'].dt.to_period(freq = 'min')  #분까지 끊기

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:1146: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

In [ ]:
merge_outer = pd.merge(df,new_df, how='outer',on='date')
merge_outer.sort_values(['date'],inplace=True)
merge_outer.reset_index(drop=True,inplace=True)
merge_outer.drop(['time','new_date','ts2','entity_id'],axis=1,inplace=True)

In [ ]:
merge_outer=merge_outer.set_index('date')
merge_outer.isnull().sum()

ch2o     3
pm2_5    3
pm10     3
tvoc     3
co2      3
tmp      3
rh       3
cpm      3
db       3
co       3
stink    3
no2      3
h2s      3
nh3      3
dtype: int64

In [ ]:
inter=merge_outer.interpolate()

In [ ]:
#확인
inter.isnull().sum()

ch2o     0
pm2_5    0
pm10     0
tvoc     0
co2      0
tmp      0
rh       0
cpm      0
db       0
co       0
stink    0
no2      0
h2s      0
nh3      0
dtype: int64

In [ ]:
inter['date']

KeyError: ignored

In [ ]:
for i in range(len(inter)):
  inter[]